*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: Arial, sans-serif;
    font-weight: 600;
    color: white; 
    width: 100%;
    height: 100%; 
}
/*
=============================================
HEADER SECTION
=============================================
*/
.header-section{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    max-width: 100%;
    .top-header{
        display: flex;
        justify-content: space-evenly;
        background-color: #08b263;
    }
    .top-header div .sell{
        color: black;
        font-weight: 800;
    }
    .primary-header{
        display: flex;
        justify-content: space-between;
        background-color: #1a1a1a;
        padding: 20px;
    }
    .header-icons{
        display: flex;
        gap: 30px;
        padding-right: 30px;
    }
    .hamburger-menu-container{
        display: none;
    }
    .header-icons .cart,
    .header-icons .support,
    .header-icons .accounts{
        cursor: pointer;
        transition: transform 0.4s ease, color 0.2s ease;
    }
    .search-container form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search-container form input{
        padding: 10px;
        padding-inline: 30px;
        border-radius: 20px;
    }
    .search-container form button{
        background: transparent;
        border: none;
        color: white;
    }
    .search-container form button span{
        
        padding-left: 5px;
        transition: transform 0.4s ease, color 0.4s ease;
    }
    .search-container form button span:hover,
    .header-icons .cart:hover,
    .header-icons .support:hover,
    .header-icons .accounts:hover{
        transform: scale(1.2);
        color: #08b263
    }
}
.mobile-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #1a1a1a;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}
.mobile-sidebar.active{
    transform: translateX(0);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/*
============================================================
PRODUCTS SECTION
===========================================================
*/
main{
    padding: 0 40px;
}
.products-section{
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.product-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 30px 30px;
}
.product-card-container{
    padding: 0 10px 10px 10px;
    background: linear-gradient(170deg, #333333, black);
    border-radius: 15px;
}
.product-card{
    padding: 10px;
    width: 300px;
    border-radius: 10px;
}
.product-card div img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.product-card .product-type{
    font-family: "Archivo Black", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: #08b263;
}
.product-card h3{
    font-size: 15px;
    font-weight: 100;
    padding: 10px;
}
.product-card h3 span{
    color: #007e1d;
    padding-left: 5px;
}
.product-card-actions{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}
.product-card-actions .view-details,
.product-card-actions .add-to-cart{
    padding: 13px;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.4s ease-out;
}
.product-card-actions .view-details{background-color: #08b263;}
.product-card-actions .add-to-cart{background-color: white;}
.product-card-actions .view-details a{text-decoration: none; color: white; font-weight: 700;}
.product-card-actions .add-to-cart a{text-decoration: none; color: black; font-weight: 700;}

.product-card-actions .view-details:hover,
.product-card-actions .add-to-cart:hover{
    transform: scale(1.1);
    background-color: #75f0b7;
}
@media (max-width: 480px) {
    .mobile-btn{display: block;}
    .header-section .header-icons{
        display: none;
    }
    .header-section .header-icons .cart,
    .header-section .header-icons .support,
    .header-section .header-icons .accounts{
        display: none;
    }
    .logo-container{
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-section .primary-header form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-section .primary-header form button{
        padding: 5px;
    }
    .header-section .primary-header form input{
        padding: 5px;
        padding-inline: 10px;
    }
    .header-section .primary-header .hamburger-menu-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    .header-section .hamburger-menu{
        display: block;
        cursor: pointer;
    }
    .primary-header div h1{
        font-size: 14px;
    }
    .search-bar{
        display: block;
        padding-inline: 3px;
    }
    .products-section .product-wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
}